{
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module"
  },
  "env": {
    "browser": true
  },
  "parser": "babel-eslint",
  "extends": [
    "xo-react/space",
    "xo-space/esnext"
  ]
}
