@import "./reset";

$green: #50BD00;
$thin-grey: #F0F0F0;
$sub: rgba(0, 0, 0, 0.54);

body {
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  line-height: 1.5;
  font-size: 16px;

  &.grey {
    background-color: #F2F2F2;
  }
}

#page {
  padding: 10px 20px;
}

.api-test-input,
.api-test-btn {
  display: block;
  width: 100%;
  font-size: 18px;
  border-radius: 5px;
  margin-bottom: 30px;
  padding: 5px;
}

.api-test-btn {
  background-color: $green;
  color: white;

  &.disabled {
    background-color: $thin-grey;
  }
}

.api-test-input {
  line-height: 1.5;
  color: #333;
  border: solid 1px #ccc;
}

pre {
  background: #eee;
  padding: 10px;
  margin-bottom: 30px;
  white-space: pre-wrap;
}
